:root {
  --purple: #6550F6;
  --orange: #F18F57;
  --light-orange: #F3A576;
  --blue: #1B3F64;
  --dark-purple: #7460F6;
  --washed-purple: #C1B8FA;
}

.bg-purple-gradient {
  background: rgb(162,148,248);
  background: linear-gradient(323deg, rgba(162,148,248,1) 0%, rgba(132,114,247,1) 20%, rgba(101,80,246,1) 100%);
}

.bg-purp {
  background-color: var(--purple);
}

.purple {
  color: var(--purple);
}

.light-purple {
  color: #8472F7;
}

.bg-light-purple {
  background-color: #8472F7;
}

.lighter-purple {
  color: #A294F8;
}

.bg-lighter-purple {
  background-color: #A294F8;
}

.lightest-purple {
  color: #C1B8FA;
}

.bg-lightest-purple {
  background-color: #C1B8FA;
}

.dark-purple {
  color: var(--dark-purple);
}

.washed-purple {
  color: var(--washed-purple);
}

.white {
  color: #FFF;
}

.bg-white {
  background-color: #FFF;
}

.orange {
  color: var(--orange);
}

.bg-orange {
  background-color: var(--orange);
}

.light-orange {
  color: var(--light-orange);
}

.bg-light-orange {
  background-color: var(--light-orange);
}

.blue {
  color: #1B3F64;
}

body {
  font-family: system-ui, "system-ui", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
}

html, body {
  height: auto;
  min-height: 100% !important;
}

@media screen and (max-width: 900px) {
  hstack.responsive {
    flex-direction: column;
    align-items: flex-start !important;
  }

  hstack.responsive[spacing]>:last-child {
    margin-bottom: 0 !important;
  }
  hstack.responsive[spacing=l]>* {
    margin-bottom: 28px !important;
  }
}

.shadow-6 {
  -webkit-box-shadow: 2px 2px -6px 0px rgba(255,255,255,0.5);
  -moz-box-shadow: 2px 2px -6px 0px rgba(255,255,255,0.5);
  box-shadow: 2px 2px -6px 0px rgba(255,255,255,0.5);
}

p > code {
  background-color: var(--washed-purple);
  color: var(--purple);
  padding: 0 5px;
  border-radius: 5px;
}

body {
  font-size: 18px;
}

p a {
  color: var(--orange);
}

p a:visited {
  color: var(--light-orange);
}